.div-container-search-pet{
  margin-top: 50px;
  margin-bottom: 300px;
}
.div-container-search-pet-filter {
  background-color: white;
  border: 1px solid silver;
  border-radius: 5px;
}
.div-container-search-pet-filter .div-select{
  padding: 0 !important;
}
.div-container-search-pet-filter .div-order{
text-align: right;
}
.div-container-search-pet-filter .div-order > i{
  color: #505050;
  font-size: 20px;
  margin-top: 12px;
}
.div-pagination-search-pets{
  margin-top: 100px;
}
.div-not-found-search {
  background-color: white;
  padding: 50px;
  border: 1px solid silver;
  border-radius: 5px;
}
.div-not-found-search h3{
  color: #505050;
  letter-spacing: 1px;

}
