<section class="container">
  <div class="card div-card-notice z-depth-1">
    <div class="div-image-education">
      <img src="/images/slider/slider1.png" alt="">
    </div>
    <div class="div-title-education">
      <h2 id="title-red">Matthew Smith<h2><h2>Found a Dog for you!</h2>
      <hr>
    </div>

    <div class="div-subtitle-education">
      <h3 id="subtitle-gray">New to learn?</h3>
    </div>
    <div class="div-container-notice">
      <div class="div-notice-part1">
        <p>Al contrario del pensamiento popular, el texto de Lorem Ipsum no es simplemente texto aleatorio. Tiene sus raices en una pieza cl´sica de la literatura del Latin, que data del año 45 antes de Cristo, haciendo que este adquiera mas de 2000 años de antiguedad. Richard McClintock, un profesor de Latin de la Universidad de Hampden-Sydney en Virginia, encontró una de las palabras más oscuras de la lengua del latín, "consecteur", en un pasaje de Lorem Ipsum, y al seguir leyendo distintos textos del latín, descubrió la fuente indudable. Lorem Ipsum viene de las secciones 1.10.32 y 1.10.33 de "de Finnibus Bonorum et Malorum" (Los Extremos del Bien y El Mal) por Cicero, escrito en el año 45 antes de Cristo. Este libro es un tratado de teoría de éticas, muy popular durante el Renacimiento. La primera linea del Lorem Ipsum, "Lorem ipsum dolor sit amet..", viene de una linea en la sección 1.10.32

        El trozo de texto estándar de Lorem Ipsum usado desde el año 1500 es reproducido debajo para aquellos interesados. Las secciones 1.10.32 y 1.10.33 de "de Finibus Bonorum et Malorum" por Cicero son también reproducidas en su forma original exacta, acompañadas por versiones en Inglés de la traducción realizada en 1914 por H. Rackham.</p>
      </div>
      <div class="div-img-notice center">
        <img src="/images/notice/notice.jpg" alt="">
      </div>
      <div class="div-notice-part2">
        <p>Al contrario del pensamiento popular, el texto de Lorem Ipsum no es simplemente texto aleatorio. Tiene sus raices en una pieza cl´sica de la literatura del Latin, que data del año 45 antes de Cristo, haciendo que este adquiera mas de 2000 años de antiguedad. Richard McClintock, un profesor de Latin de la Universidad de Hampden-Sydney en Virginia, encontró una de las palabras más oscuras de la lengua del latín, "consecteur", en un pasaje de Lorem Ipsum, y al seguir leyendo distintos textos del latín, descubrió la fuente indudable. Lorem Ipsum viene de las secciones 1.10.32 y 1.10.33 de "de Finnibus Bonorum et Malorum" (Los Extremos del Bien y El Mal) por Cicero, escrito en el año 45 antes de Cristo. Este libro es un tratado de teoría de éticas, muy popular durante el Renacimiento. La primera linea del Lorem Ipsum, "Lorem ipsum dolor sit amet..", viene de una linea en la sección 1.10.32

        El trozo de texto estándar de Lorem Ipsum usado desde el año 1500 es reproducido debajo para aquellos interesados. Las secciones 1.10.32 y 1.10.33 de "de Finibus Bonorum et Malorum" por Cicero son también reproducidas en su forma original exacta, acompañadas por versiones en Inglés de la traducción realizada en 1914 por H. Rackham.</p>
      </div>
      <div class="div-img-notice center">
        <img src="/images/notice/Dogs_for_adoption.jpg" alt="">
      </div>
    </div>
    <div class="div-footer-notice">
      <div class="div-icon-foo-notice">
        <div class="">
          <img src="/images/petWardLogo.png" alt="">
        </div>
      </div>
      <div class="div-title-foo-notice">
        <h3>Get creative on Pet Ward...</h3>
      </div>
      <div class="div-body-foo-notice">
        <label>
          572 7th Street 	· 	San Francisco CA, 94103
        </label>
        <br>
        <label>
          Help Center 	· 	Privacy Policy 	· 	Terms & Conditions
        </label>
        <br>
        <label>
          Unsubscribe from this email
        </label>
      </div>
    </div>
  </div>
</section>
