<section>
  <div class="row container">
    <div class="">
      <div class="col l5">
        <div class="div-images">
          <div class="principal-image-container">
            <img src="/images/card-clote.jpg" alt="" id="img-principal">
          </div>
          <div class="sub-images-container row">
            <div class="col l3">
              <img src="/images/card-clote.jpg" alt="">
            </div>
            <div class="col l3">
              <img src="/images/card-clote.jpg" alt="">
            </div>
            <div class="col l3">
              <img src="/images/card-clote.jpg" alt="">
            </div>
            <div class="col l3">
              <img src="/images/card-clote.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col l7 ">
        <div class="div-name">
          <h3>Disfras de Batman, para hallowen.</h3>
        </div>
        <div class="div-pre-spec">
          <span>Tallas disponibles</span><br>
          <div class="row div-tallas">
            <div class="col l3 div-hover-talla">
              <label>XL</label>
            </div>
            <div class="col l3 div-hover-talla">
              <label>L</label>
            </div>
            <div class="col l3 div-hover-talla">
              <label>L</label>
            </div>
            <div class="col l3 div-hover-talla">
              <label>XS</label>
            </div>
          </div>
          <div class="div-price">
            <span id="span-price">$258.00</span><br>
            <span id="span-ship">Envio Gratis</span>
          </div>
        </div>
        <div class="div-star">
          <i class="fas fa-star fa-2x"></i>
          <i class="fas fa-star fa-2x"></i>
          <i class="fas fa-star fa-2x"></i>
          <i class="fas fa-star-half-alt fa-2x"></i>
          <i class="far fa-star fa-2x"></i>
        </div>
        <div class="div-quantity">
          <div class="row" style="margin-left: 0;">
            <div class="col l1">
              <button type="button" name="button" class="btn boton">-</button>
            </div>
            <div class="col l3 input-field" style="margin: 0;">
              <input type="text" name="" value="1" id="in-quantity">
            </div>
            <div class="col l1">
              <button type="button" name="button" class="btn boton">+</button>
            </div>
          </div>
        </div>
        <div class="div-action ">

            <a  href="" class="btn waves-effect boton" name="button">Carrito</a>

        </div>
        <div class="div-description">
          <p>Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum es que tiene una distribución más o menos normal de las letras, al contrario de usar textos como por ejemplo "Contenido aquí, contenido aquí". Estos textos hacen parecerlo un español que se puede leer. Muchos paquetes de autoedición y editores de páginas web usan el Lorem Ipsum como su texto por defecto, y al hacer una búsqueda de "Lorem Ipsum".</p>
        </div>
      </div>
  </div>
  </div>
</section>
<div class="container">
  <div class="div-separator">
    <span>Detalles del producto</span>
  </div>
</div>
<section>
  <div class="row container">
    <div class="datos-prenda">
      <ul>
        <li><i class="fas fa-angle-double-right fa-2x"></i>  Lorem ipsum dolor sit amet</li>
          <li><i class="fas fa-angle-double-right fa-2x"></i>  Lorem ipsum dolor sit amet</li>
            <li><i class="fas fa-angle-double-right fa-2x"></i>  Lorem ipsum dolor sit amet</li>
              <li><i class="fas fa-angle-double-right fa-2x"></i>  Lorem ipsum dolor sit amet</li>
                <li><i class="fas fa-angle-double-right fa-2x"></i>  Lorem ipsum dolor sit amet</li>
                  <li><i class="fas fa-angle-double-right fa-2x"></i>  Lorem ipsum dolor sit amet</li>
                    <li><i class="fas fa-angle-double-right fa-2x"></i>  Lorem ipsum dolor sit amet</li>
                    <li><i class="fas fa-angle-double-right fa-2x"></i>  Lorem ipsum dolor sit amet</li>
                      <li><i class="fas fa-angle-double-right fa-2x"></i>  Lorem ipsum dolor sit amet</li>
                        <li><i class="fas fa-angle-double-right fa-2x"></i>  Lorem ipsum dolor sit amet</li>
                          <li><i class="fas fa-angle-double-right fa-2x"></i>  Lorem ipsum dolor sit amet</li>
                            <li><i class="fas fa-angle-double-right fa-2x"></i>  Lorem ipsum dolor sit amet</li>
                              <li><i class="fas fa-angle-double-right fa-2x"></i>  Lorem ipsum dolor sit amet</li>

      </ul>
      <p>Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum es que tiene una distribución más o menos normal de las letras, al contrario de usar textos como por ejemplo "Contenido aquí, contenido aquí". Estos textos hacen parecerlo un español que se puede leer. Muchos paquetes de autoedición y editores de páginas web usan el Lorem Ipsum como su texto por defecto, y al hacer una búsqueda de "Lorem Ipsum".</p>

    </div>
  </div>
</section>
