.div-image-card-my-adoptions img{

border-bottom-right-radius: 75px;
}
.div-container-card-my-adoptions{
  margin-top: 50px;
}
.div-card-my-adoptions{
  background-color: white;
  border-radius: 5px;
  border: 1px solid silver;
  box-shadow: none !important;
}
.div-card-my-adoptions .card-image > img{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 75px;
}
.div-card-my-adoptions .card-content{
margin: 0 !important;
}
.card-title {
  color: #505050;
  letter-spacing: 1px;

}
.div-icon-info-my-adoption{
  text-align: right;
}
.div-icon-info-my-adoption i{
  color: purple;
  font-size: 25px;
}
.not-data-found{
  color: #505050;
  letter-spacing: 1px;

}
