<div class="container">
  <div class="div-yellow">
    <div class="div-circle center">
      <img src="/images/donatives/pet_success.png" alt="" class="responsive-img">
    </div>
    <div class="div-title center">
      <h2>HAPPY PAWS</h2>
    </div>
    <div class="div-hueso">
      <i class="fas fa-bone"></i>
    </div>
    <div class="div-description-success">
      <p>El equipo de PerWard y la asociació correspondiente te agradece mucho
      por tu colaboracion, gracias por hacer de este mundo algo mejor.</p>
    </div>
    <div class="div-success-comodin">
      <span>Follow Us: @PetWard</span>
    </div>
  </div>

</div>
