<section>
  <div class="row">
    <div class="col l12 center" id="div-title-discuss">
      <h3>Welcome to the community of Pet Lovers</h3>
      <h5>Today's topic, animal abuse</h5>
    </div>
  </div>
</section>
  <section id="section-waves">
    <div class="row">
      <div class="col l8 offset-l2">
        <div class="card row card-room-chat">
          <div class="col l3" id="div-users">
            <div class="user-title">
              <span>Participantes</span>
            </div>
            <div class="container-users">
              {{#each pets}}
                <div class="row">
                  <div class="col l5 div-img-user">
                    <img src="/images/user-room.png" alt="" class="user-room-image">
                  </div>
                  <div class="col l7 div-data-user">
                    <span>Tracy Carpenter</span><br>
                    <label><i class="fas fa-circle-notch"></i>online</label>
                  </div>
                </div>
              {{/each}}
            </div>
          </div>
          <div class="col l9" id="div-chat">
            <div class="header-chat row">
              <div class="header-img-user col l2 left">
                <img src="/images/user-room.png" alt="" class="chat-room-image">
              </div>
              <div class="data-user-header col l8 ">
                <span>Tracy Carpenter</span><br>
                <label>1902 Mensajes</label>
              </div>
              <div class="col l2 icon-paw">
                <i class="fas fa-paw fa-2x"></i>
              </div>
            </div>
            <hr class="hr-card">
            <div class="body-chat row">

              <div class="container-globe-left col l12">
                <div class="div-remitent">
                  <i class="fas fa-circle-notch"></i>
                  <span>Vincent</span>
                  <label>10:12AM,Today</label>
                </div>
                <div class="globe-chat-left">
                  El punto de usar Lorem Ipsum es que tiene una
                   distribución más o menos normal de las letras,

                </div>
              </div>

              <div class="container-globe-right col l12">
                <div class="div-remitent">
                  <label>10:12AM,Today</label>
                  <span>Tracy</span>
                  <i class="fas fa-circle-notch"></i>
                </div>
                <div class="globe-chat-right">
                  Es un hecho establecido hace demasiado
                  tiempo que un lector se distraerá con
                   el contenido del texto de un sitio
                   mientras que mira su diseño. El punto
                    de usar Lorem Ipsum es que tiene una
                     distribución más o menos normal de
                     las letras, al contrario de usar textos
                      como por ejemplo.
                </div>
              </div>

              <div class="container-globe-left col l12">
                <div class="div-remitent">
                  <i class="fas fa-circle-notch"></i>
                  <span>Vincent</span>
                  <label>10:12AM,Today</label>
                </div>
                <div class="globe-chat-left">
                  Es un hecho establecido hace demasiado tiempo
                  que un lector se distraerá con el contenido del
                   texto de un sitio mientras que mira su diseño.

                </div>
              </div>
              <div class="container-globe-right col l12">
                <div class="div-remitent">
                  <label>10:12AM,Today</label>
                  <span>Tracy</span>
                  <i class="fas fa-circle-notch"></i>
                </div>
                <div class="globe-chat-right">
                  Es un hecho establecido hace demasiado
                  tiempo que un lector se distraerá con
                   el contenido del texto de un sitio
                   mientras que mira su diseño. El punto
                    de usar Lorem Ipsum es que tiene una
                     distribución más o menos normal de
                     las letras, al contrario de usar textos
                      como por ejemplo.
                </div>
              </div>


            </div>
            <div class="footer-chat">
              <div class="div-text-area">
                <textarea name="name" rows="8" cols="80"></textarea>
              </div>
              <div class="row div-submit">
                <div class="col l6 div-files">
                  <i class="far fa-file fa-1x"></i>
                  <i class="far fa-file-image fa-1x"></i>
                </div>
                <div class="col l6 div-send">
                  <label>SEND</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
