<div class="container">
  <div class="div-white">
    <div class="div-circle-audition center">
      <img src="/images/audition/audition-success.png" alt="" class="responsive-img">
    </div>
    <div class="div-title-audition center">
      <h2>HAPPY PAWS</h2>
    </div>
    <div class="div-hueso-audition">
      <i class="fas fa-bone"></i>
    </div>
    <div class="div-description-success-audition">
      <p>Hemos recibido tu pago, en breve el equipo de PetWard hara la auditoria.
      El estado de la misma sera reflejada en tu panel de adminsitración</p>
    </div>
    <div class="div-success-comodin-audition">
      <span>Follow Us: @PetWard</span>
    </div>
  </div>
</div>
