{{#if success_msg}}
  <div class="div-success container">

    {{success_msg}}

  </div>
{{/if}}
{{#if error_msg}}
<div class="div-errors container">
  {{error_msg}}
</div>
{{/if}}
{{#if error}}
<div class="div-errors">
  {{error}}
</div>
{{/if}}
{{#each errors }}
<div class="div-errors">
  {{text}}

</div>
{{/each}}
