<div class="container div-register-pet">
  <div class="card card-register-pet">
    <div class="card-register-pet-title">
      <h5>Da de alta una pareja</h5>
      <label>Recuerda no puedes dar de alta una mascota que este en adopcion.</label>
    </div>
    <form method="POST" action="/register-pet/new-couple" enctype="multipart/form-data">
    <div class="row">
      <div class="col s12 l12 div-tabs">
        <ul class="tabs" id="ul-tab">
          <li class="tab col s6"><a class="active" href="#about">Acerca de</a></li>
          <li class="tab col s6"><a href="#test4">Ubicaci贸n</a></li>
        </ul>
      </div>
      <div id="about" class="col s12">
        <div class="about-tab-title">
          <h5>Empecemos con informaci贸n basica.</h5>
        </div>
        <div class="row">
          <div class="col l5 div-img-upload">
            <img src="/images/profile-dog.png" alt="" id="img-upload"><br>
            <input type="file" name="img" id="in-image" style="display:none;">
            <label>Selecciona una imagen</label>
          </div>
          <div class="col l7 div-in-about">
            <div class="">
              <label>Tipo de mascota</label>
                <select class="browser-default" name="tipo" id="select-type-pet">
                  <option value="" disabled selected>Elige una opci贸n</option>
                  <option value="perro">Perro</option>
                  <option value="gato">Gato</option>
                </select>
            </div>
            <div class="">
              <span>Nombre:</span>
              <input type="text" name="nombre" value="" class="input-text">
            </div>
            <div class="">
              <span>Apodo(Opcional):</span>
              <input type="text" name="apodo" value="" class="input-text">
            </div>
            <div class="">
              <span>Edad:</span>
              <input type="text" class="input-text" name="edad" value="">
            </div>
            <div class="">
              <span>Raza:</span>
              <input type="text" class="input-text" name="raza" value="">
            </div>
            <div class="">
              <span>Color:</span>
              <input type="text" class="input-text" name="color" value="">
            </div>
            <div class="">
              <span>Sexo:</span>
              <select class="browser-default" name="sexo" id="select-type-pet">
                <option value="" disabled selected>Elige una opci贸n</option>
                <option value=1>Macho</option>
                <option value=0>Hembra</option>
              </select>
            </div>
          </div>
          <div class="col l12 div-in-about-text">
            <span>Cuentanos hacerca de tu mascota:</span>
            <textarea name="descripcion" rows="8" cols="80" class="descripcion"></textarea>
            <input type="hidden" name="pertenece" value="{{user.id}}">
          </div>
        </div>
      </div>
      <div id="test4" class="col s12">
        <div class="row col l12 div-in-about">
          <div class="col l6">
            <span>Estado:</span>
            <input type="text" class="input-text" name="estado" value="">
          </div>
          <div class="col l6">
            <span>Ciudad:</span>
            <input type="text" class="input-text" name="ciudad" value="">
          </div>
          <div class="col l6">
            <span>Calle:</span>
            <input type="text" class="input-text" name="calle" value="">
          </div>
          <div class="col l6">
            <span>Colonia:</span>
            <input type="text" class="input-text" name="colonia" value="">
          </div>
          <div class="col l6">
            <span>CP:</span>
            <input type="text" class="input-text" name="cp" value="">
          </div>
        </div>
      </div>
      <div class="col l12 center div-btn-accion-register-pet">
        <button type="submit" class="btn boton">Registrar</button>
      </div>
  </div>
</form>
  </div>
</div>
