<div class="container">
  <div class="row div-container-type-adoption center">
    <h3>¿Que deseas ver?</h3>
    <div class="col l12 ">
      <div class="div-type-adoption">
        <a href="/my-adoptions/{{idUser}}">
          <i class="fas fa-dog"></i><br>
          <span>Mascotas adoptas</span>
        </a>
      </div>
    </div>
    <div class="col l12">
      <div class="div-type-adoption">
        <a href="/give-for-adoption/{{idUser}}">
            <i class="fas fa-cat"></i><br>
          <span>Mascotas en adopción</span>
        </a>
      </div>
    </div>
  </div>
</div>
