<div class="" id="foo-red-social">

  <hr class="hr-foo">
  <div class="row div-icons center container">
    <div class="col l12 div-foo-logo">
      <img src="/images/petWardLogoDash.png" alt="">
    </div>
    <div class="col l12 row div-container-uls-foo">
    <div class="col l3">

      <strong>About PetWard</strong>
      <ul>
        <li>About PetWard</li>
        <li>FAQs</li>
        <li>Parnerships</li>
        <li>Terms of services</li>
        <li>Privacy Policy</li>
        <li>Mobile site</li>
        <li>PetWard Foundation</li>
        <li>Press</li>
        <li>For Developers</li>
        <li>Contact Us</li>
      </ul>
    </div>
    <div class="col l3">
      <strong>Pet Adoption</strong>
      <ul>
        <li>Dog Adoption</li>
        <li>Cat Adoption</li>
        <li>Other pet Adoption</li>
        <li>Search Adoption Organization</li>
        <li>Pet-Adoption Stories</li>
        <li>Local Adoption Events</li>
        <li>Shelters and Rescues</li>
      </ul>

    </div>
    <div class="col l3">
      <strong>Pet Care Topics</strong>
      <ul>
        <li>Dog Care</li>
        <li>Cat Breeds</li>
        <li>Cat Care</li>
        <li>Cat Breeds</li>
        <li>All Pet Care</li>
        <li>Pet Care Videos</li>
        <li>Helping Pets</li>
      </ul>
    </div>
    <div class="col l3">
      <p>To get the lastest on pet adoption and pet care,
      sing up for the PetWard newsletter.</p>

      <button type="button" name="button" class="btn " id="btn-footer-singup">sing up</button>
    </div>
  </div>
 
</div>
<div class="footer-copyright">
  <div class="container">
    <div class="left div-span-copyright">
        © 2019 Copyright Adopta a un amigo.AC.
    </div>
    <div class=" right div-foo-copyright-social-red" href="#!">
      <i class="fab fa-facebook-square"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-twitter-square"></i>
      <i class="fab fa-google-plus-square"></i>
    </div>
  </div>
</div>
