<div class="container contenedor">
  <div class="row" id="tarjeta-login">
    <br><br><br>
      <div class="col l12 m12 s12">
          <div class="card tarjeta z-depth-1" >
              <form class="col l5 m8 s8 div-formulario" method="POST" action="/Login/authentification">
                  <div class="sub-div-formulario">
                      <img src="/images/petWardLogo.png" class=" center logo-pet-ward-login-form" alt="">
                      <h3 class=" center">Welcome Back</h3>
                      <div class="input-field div-in-usuario">
                          <span class="black-text">Usuario</span>
                          <input class="black-text " type="text" name="email" id="user" >
                      </div>
                      <div class="input-field div-in-pass">
                          <span class="black-text">Password</span>
                          <input class="black-text " type="password" name="password" id="password" >
                      </div>
                      <button type="submit" class="waves-effect btn boton up-session">Aceptar</button><br>
                      <hr id="hr-line-login-form">
                      <span class="not-account-span">No tengo una cueta?</span> <a href="Register" class="not-account">Sing Up</a>
                  </div>
              </form>
              <div class="col l7 m4 s4 div-logotipo center">
                  <img class="responsive-img " src="/images/login-icon.png">
              </div>
          </div>
      </div>
  </div>
</div>
