<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Adopta a un amigo</title>
    <!-- LIBRERIAS EXTERNAS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/materialize/css/materialize.min.css">
    <!--FUENTES-->
  <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
    <!--CSS-->
    <link rel="stylesheet" href="/css/index/index.css">
    <link rel="stylesheet" href="/css/generales/navigation.css">
    <link rel="stylesheet" href="/css/generales/footer.css">
    <link rel="stylesheet" href="/css/generales/generales.css">
    <link rel="stylesheet" href="/css/generales/letras.css">
    <link rel="stylesheet" href="/css/parejas/parejas.css">
    <link rel="stylesheet" href="/css/pets/pets.css">
    <!--<link rel="stylesheet" href="/css/foro/foro.css">-->
    <link rel="stylesheet" href="/css/detail-pet/detail-pet.css">
    <link rel="stylesheet" href="/css/education/education.css">
    <link rel="stylesheet" href="/css/login/login.css">
    <link rel="stylesheet" href="/css/register/register.css">
    <!--<link rel="stylesheet" href="/css/vestimenta/detail-vestimenta.css">-->
    <link rel="stylesheet" href="/css/association/detail-association.css">
    <link rel="stylesheet" href="/css/donatives/index.css">
    <link rel="stylesheet" href="/css/donatives/form.css">
    <link rel="stylesheet" href="/css/donatives/success.css">
    <link rel="stylesheet" href="/css/search/search.css">
    <link rel="stylesheet" href="/css/match/pets.css">
    <link href="https://vjs.zencdn.net/7.6.0/video-js.css" rel="stylesheet">
  </head>
  <body>
    <header>
      {{> navigation}}
    </header>
    <main>
      {{> messages}}
      {{> errors}}
      {{{body}}}
    </main>
    <div class="" id="waves">

    </div>
    <footer class="page-footer">
      {{> footer}}
    </footer>
  <!--IMPORTANDO JQUERY-->
   <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
   <script type="text/javascript" src="/css/materialize/js/materialize.min.js"></script>
   <script type="text/javascript" src="/js/jQuery/jquery-3.2.1.min.js"></script>
   <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.all.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js"></script>



  <!--SCRIPTS-->
  <script type="text/javascript" src="/js/index/index.js"></script>
  <script type="text/javascript" src="/js/parejas/parejas.js"></script>
  <script type="text/javascript" src="/js/detail-pet/detail-pet.js"></script>
  <script type="text/javascript" src="/js/login/login.js"></script>
  <script type="text/javascript" src="/js/login/register.js"></script>
  <script type="text/javascript" src="/js/association/detail-association.js"></script>
  <script type="text/javascript" src="/js/filter/filter.js"></script>
  <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
  </body>
</html>
